name: Tests
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: wntrblm/nox@2023.04.22
      with:
        python-versions: "3.8, 3.9, 3.10, 3.11, 3.12"
    - run: nox
    - run: nox -s build
